huggingface_hub
pandas
plotly
regex
# Pin Spacy to match the model version below
spacy>=3.7.0,<3.8.0
# Direct link to the model
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz