huggingface_hub
pandas
plotly
regex
# CRITICAL FIX: Prevent Numpy 2.0 from breaking Spacy
numpy<2.0.0
# Pin Spacy to match the model
spacy>=3.7.0,<3.8.0
# The model file
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz